<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
	pageEncoding="ISO-8859-1"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ taglib uri="http://www.springframework.org/tags/form" prefix="form"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<p>Add User</p>
	<c:url value="/add-user" var="url" />
	<form:form modelAttribute="user" method="post" action="${url}"
		enctype="multipart/form-data">
		<label>ID</label>
		<form:input path="id" />
		<br />
		<label>Name</label>
		<form:input path="name" />
		<br />
		<label>username</label>
		<form:input path="username" />
		<form:errors path="username"></form:errors>
		<br />
		<label>password</label>
		<form:password path="password" />
		<form:errors path="password"></form:errors>
		<br />
		<label>role</label>
		<form:input path="role" />
		<br />
		<label>Avatar</label>
		<form:input path="avatar" type="file" />
		<br />
		<button type="submit">Submit</button>
	</form:form>
</body>
</html>
